Repository joe-butler-23/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, emacs-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
       - id: nix-fmt
         name: nix-fmt
         entry: nix fmt
         language: system
         files: \.nix$
       - id: emacs-lint
         name: emacs-lint
         entry: bash -c 'emacs --batch --eval "(load-file \"$0\")" 2>&1 | grep -i error | grep -v "use-package" | grep -q . && exit 1 || exit 0'
         language: system
         files: modules/editor/emacs\.d/.*\.el$
         exclude: modules/editor/emacs\.d/(init|early-init|pre-early-init|post-early-init|bindings)\.el$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

Phase 1: Move all ~101 packages to modules/core/sys-apps.nix
  modules/core/sys-apps.nix
Due: nix-fmt

Phase 3: Convert user services to system-level systemd
  modules/services/default.nix
  modules/services/espanso.nix
  modules/services/kanshi.nix
  modules/services/syncthing.nix
  parts/systems.nix
Due: nix-fmt

Phases 4 & 5: Environment variables and SOPS to system level
  modules/apps/default.nix
  modules/desktop/default.nix
  modules/desktop/mime-types.nix
  modules/desktop/system.nix
  modules/shell/default.nix
  modules/shell/environment.nix
  modules/shell/sops.nix
  modules/shell/user-dirs.nix
  parts/systems.nix
Due: nix-fmt

Phase 6: Remove home-manager targets from Stylix
  modules/desktop/stylix.nix
Due: nix-fmt

docs: Add home-manager removal migration plan
  docs/HOME-MANAGER-REMOVAL.md
Due: none

fix: Remove duplicate kanshi config from laptop-nix
  modules/hosts/laptop-nix.nix
Due: nix-fmt

fix: Make kanshi laptop-specific only
  modules/hosts/laptop-nix.nix
  modules/services/default.nix
Due: nix-fmt

docs: Make code comments concise and present-state
  modules/hosts/laptop-nix.nix
  modules/services/default.nix
Due: nix-fmt

docs: Add code comments style guide to AGENTS.md
  AGENTS.md
Due: none

fix: Remove duplicate CONTEXT7_API_KEY from system-level sops
  modules/shell/sops.nix
Due: nix-fmt

fix: Complete SOPS migration to system-level
  README.md
  flake.lock
  modules/services/espanso.nix
  modules/shell/sops.nix
  parts/systems.nix
Due: nix-fmt

chore: Update emacs.d files to home-manager symlinks
  modules/editor/emacs.d/README.md
  modules/editor/emacs.d/bindings.el
  modules/editor/emacs.d/early-init.el
  modules/editor/emacs.d/init.el
  modules/editor/emacs.d/post-early-init.el
  modules/editor/emacs.d/post-init.el
  modules/editor/emacs.d/pre-early-init.el
Due: emacs-lint

chore(nix): purge home-manager remnants
  flake.lock
  flake.nix
  modules/apps/anki.nix
  modules/apps/apps.nix
  modules/apps/default.nix
  modules/apps/dev.nix
  modules/apps/thunar.nix
  modules/apps/utils.nix
  modules/apps/vscodium.nix
  modules/apps/web-apps/README.md
  modules/apps/web-apps/default.nix
  modules/apps/web-apps/icons/chatgpt.png
  modules/apps/web-apps/icons/mathacademy.png
  modules/apps/web-apps/icons/outlook.png
  modules/core/sys-apps.nix
  modules/editor/default.nix
  modules/editor/emacs.nix
  modules/editor/zed.nix
  modules/scripts/default.nix
  parts/systems.nix
Due: nix-fmt

fix(services): add RestartSec to espanso and kanshi
  modules/services/espanso.nix
  modules/services/kanshi.nix
Due: nix-fmt

feat(desktop): restore web apps as system modules
  modules/apps/web-apps/default.nix
  modules/apps/web-apps/icons/chatgpt.png
  modules/apps/web-apps/icons/mathacademy.png
  modules/apps/web-apps/icons/outlook.png
Due: nix-fmt

fix(desktop): import brave-wrapper module
  modules/desktop/default.nix
Due: nix-fmt

fix(ai): integrate refactored ai-utilities module
  flake.lock
  parts/systems.nix
Due: nix-fmt

refactor(core/desktop): remove stylix and flatten directory structure
  flake.lock
  flake.nix
  modules/apps/anki-forge.nix
  modules/apps/espanso.md
  modules/apps/espanso.nix
  modules/apps/nix.lang
  modules/apps/syncthing.nix
  modules/apps/zathura.nix.backup
  modules/core/archive/alacritty.nix
  modules/core/archive/foot.nix
  modules/core/default.nix
  modules/core/environment.nix
  modules/core/sops.nix
  modules/core/sys-apps.nix
  modules/core/system.nix
  modules/core/user-dirs.nix
  modules/desktop/default.nix
  modules/desktop/stylix.nix
  modules/desktop/web-apps/default.nix
  modules/desktop/web-apps/icons/chatgpt.png
  modules/desktop/web-apps/icons/mathacademy.png
  modules/desktop/web-apps/icons/outlook.png
  modules/overlays/README.md
  modules/overlays/default.nix
  modules/shell/default.nix
  parts/systems.nix
Due: nix-fmt

docs: final cleanup and documentation update
  README.md
  docs/HOME-MANAGER-REMOVAL.md
Due: none

fix: adjust user dirs defaults
  modules/core/user-dirs.nix
Due: nix-fmt

Drop HM refs, unify desktop config, and switch flake inputs to SSH
  docs/sops-nix-guide.md
  flake.lock
  flake.nix
  modules/core/environment.nix
  modules/core/sys-apps.nix
  modules/core/system.nix
  modules/desktop/system.nix
  modules/editor/docs/resources.txt
  modules/scripts/DEVELOPMENT.md
Due: nix-fmt

Use repo-managed pre-commit hook
  .githooks/pre-commit
Due: none

Remove empty core system module
  modules/core/default.nix
  modules/core/system.nix
Due: nix-fmt

feat: add IBM Plex Sans font
  modules/core/sys-apps.nix
Due: nix-fmt

fix(services): resolve brave fonts, kanshi paths, and secure espanso secrets
  modules/core/sys-apps.nix
  modules/desktop/brave-wrapper.nix
  modules/desktop/web-apps/default.nix
  modules/services/espanso.nix
  modules/services/kanshi.nix
Due: nix-fmt

chore: apply formatting changes from pre-commit hooks
  modules/core/sys-apps.nix
  modules/services/espanso.nix
Due: nix-fmt

feat(networking): set system DNS to AdGuard
  modules/core/default.nix
Due: nix-fmt

feat(services): install adguardhome with local dashboard
  modules/core/default.nix
Due: nix-fmt

fix(sops): use SSH host key for boot-time secret decryption
  .sops.yaml
  modules/core/sops.nix
Due: nix-fmt

fix(networking): force system to use local adguard dns
  modules/core/default.nix
Due: nix-fmt

feat(desktop): replace kanshi with hyprdynamicmonitors
  flake.lock
  flake.nix
  modules/core/sys-apps.nix
  modules/hosts/laptop-nix.nix
  modules/overlays/default.nix
  modules/services/kanshi.nix
  parts/systems.nix
  secrets/secrets.yaml
Due: nix-fmt

fix(desktop): final hyprdynamicmonitors tweaks and upower enable
  modules/hosts/laptop-nix.nix
Due: nix-fmt

feat(secrets): configure TODOIST_TOKEN via sops
  modules/core/sops.nix
  secrets/secrets.yaml
Due: nix-fmt

feat(secrets): configure TODOIST_TOKEN via sops
  modules/core/default.nix
  modules/core/sys-apps.nix
Due: nix-fmt

fix(core): add pam configuration for hyprlock
  modules/core/sys-apps.nix
Due: nix-fmt

chore: update flake.lock
  flake.lock
Due: none

chore: sync local config changes
  AGENTS.md
  flake.lock
  modules/core/default.nix
  modules/core/sys-apps.nix
  modules/hosts/laptop-nix.nix
  modules/overlays/default.nix
  modules/services/espanso.nix
Due: nix-fmt

chore: remove serena ignore entry
  .gitignore
Due: none

flake.lock: Update
  flake.lock
Due: none
